<ion-header>
  <ion-toolbar color="translucent">
    <ion-title mode="ios">votaciones</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" expand="block" size="large" (click)="openModal()">
    Ver foto votada
  </ion-button>
  <highcharts-chart 
    *ngIf="chartOptions"
    id="chart"
    title="Resultados de votaciones"
    [Highcharts]="highcharts"
    [options]="chartOptions"
  ></highcharts-chart>
</ion-content>
