<ion-header>
  <ion-toolbar color="translucent">
    <ion-title mode="ios">cosas lindas</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!photos || photos.length == 0; else photosContainer" id="container" class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <div>
        <ion-text color="medium">
          <em>No se encontraron fotos.</em>
        </ion-text>
      </div>
      <ion-button (click)="takePhoto()" fill="clear">
        Agrega la primera
      </ion-button>
    </ion-col>
  </ion-row>

  <ng-template #photosContainer>
    <ion-card *ngFor="let photo of photos; index as i">
      <ion-item lines="none" class="ion-no-padding">
        <img class="card-image" [src]="photo.webViewPath" (click)="openModal(photo)">
        <ion-card-header>
          <ion-card-title>{{ photo.user }}</ion-card-title>
          <ion-card-subtitle>{{ photo.date }}</ion-card-subtitle>
        </ion-card-header>
        <ion-chip slot="end" color="primary" (click)="vote(i)">Votar</ion-chip>
      </ion-item>
    </ion-card>
  </ng-template>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-toast
    mode="ios"
    [isOpen]="selectedIndex !== undefined"
    [buttons]="toastButtons"
  ></ion-toast>
</ion-content>
