#chart {
  display: block;
  width: 95%;
  margin: auto;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modalPicture {
  width: 90%;
  height: 75%;
  margin: auto;
}
